.navfontcolor {
  color: white;
}
.footerbackgroudcolor {
  background-color: #12436b;
  color: white;
}

.font1 {
  font-size: 2rem;
  font-weight: bold;
}
.font2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.card1 {
  border-radius: 40px;
  border-color: black;
}

.backpic {
  background-color: #00496d;
}

.color {
  color: white;
}

.header {
  background-color: transparent;
  background-image: url("https://porkswap.finance/assets/images/bg.png");
}
.fontcolor {
  color: #fc5b50;
}

.intbackpic {
  background-image: url("https://porkswap.finance/assets/images/bgs/bg-1.png");
}

.font3 {
  font-size: 1.5rem;
  color: black;
}
.cards {
  display: flex;
  flex-direction: column;
}
.acpic {
  background-color: #f3f7fa;
}
.picy {
  background-image: url("https://porkswap.finance/assets/images/bgs/bg.png");
}

.backpic-table {
  background-image: url("https://porkswap.finance/assets/images/bgs/bg.png");
}
.roadmap-backpic {
  background-image: url("https://porkswap.finance/assets/images/bgs/Frame-13-3.png");
}
.token-pic {
  background-image: url("https://porkswap.finance/assets/images/bgs/token-base.png");

  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
  max-width: 80.125rem;
  background-position: 60%;

  height: 25.75rem;
}

.liqidity {
  position: absolute;
  left: 0;
  top: 70px;
  width: 10rem;
}

.growth {
  position: absolute;
  left: 0;
  top: 165px;
  width: 5rem;
}

.locked {
  position: absolute;
  right: 0%;
  top: 70px;
  width: 12rem;
}

.sale {
  position: absolute;
  right: 0%;
  top: 185px;
  width: 6rem;
}
.backpicseen {
  background-image: url("https://porkswap.finance/assets/images/bgs/Section-31.png");
}
.spotbox {
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 10%) !important;
  border-radius: 3px;
  background: #fff;
}
